@model FUTOMedical.Models.Entities.Patient
@using FUTOMedical.Helpers
@{
    ViewBag.Title = "SearchPatientResult";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="" style="background-color: #fff; font-size:14px;">
                <h4 class="page-header" style="margin-top:0px;padding:5px; font-size: 16px !important; color: #42ae0e;">Search Results for @ViewBag.search </h4>


                @if (ViewBag.SearchString == "Empty")
                {
                    <div class="alert alert-info">
                        <p>Type your Search keyword(s) on the Search bar above and click search.</p>
                    </div>
                }
                else if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        <p>Sorry, we didn’t find any results for your search. Please try the following:</p>
                        <ul>
                            <li>Double-check spelling, especially people and place names.</li>
                            <li>Make sure there are spaces between words.</li>
                            <li>Use fewer keywords in your search, especially if you’re unsure of the exact keyword.</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fullname)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.CardNumber)
                                </th>
                                <th>Section Status</th>

                            </tr>

                            <tr>
                                <td>
                                    @Model.Fullname)
                                </td>

                                <td>
                                    @Model.CardNumber)
                                </td>
                                <td>
                                    @HelperFile.GetSectionStatus(Model.Id)
                                </td>


                            </tr>

                        </table>
                        <div class="text-center">
                            <p>
                                @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-info" })

                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
