<!DOCTYPE html>
<html>
<head>
    @using FUTOMedical.Areas.Service
    @{

        string img = "";
        string fav = "";
        string init = "";
        if (GeneralService.Image() != null)
        {
            fav = GeneralService.Image().Favicon;
            img = GeneralService.Image().Logo;
            init = GeneralService.Image().Initial;

        }
    }
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (!string.IsNullOrEmpty(fav))
    {
        <link rel="icon" href="@Url.Content(fav)" type="image/x-icon">
    }
    else
    {
        <link rel="icon" href="~/Content/FUTOMedical/assets/img/logo.png" type="image/x-icon">
    }
    <title>FUTO Medical || @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Core CSS - Include with every page -->
    <link href="~/Content/FUTOMedical/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/css/main-style.css" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="~/Content/FUTOMedical/assets/plugins/morris/morris-0.4.3.min.css" rel="stylesheet" />

    <style>
        #navbar {
            background-color: #3c763d;
        }

        .user-section {
            margin-top: 20px;
            font-size: 22px;
            background-color: #3c763d;
        }
    </style>

    @RenderSection("Style", required: false)
</head>
<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <div class="no-print">
                <!-- navbar-header -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        @if (!string.IsNullOrEmpty(img))
                        {
                            <img src="@Url.Content(img)" alt="logo">
                        }
                        else
                        {
                            <p>@init</p>
                        }

                    </a>
                </div>
                <!-- end navbar-header -->
                <!-- navbar-top-links -->

                @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/AdminProfileLayout.cshtml")
                }

                else if (User.IsInRole("Doctor"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/DoctorProfileLayout.cshtml")
                }

                else if (User.IsInRole("Nurse"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/NurseProfileLayout.cshtml")
                }

                else if (User.IsInRole("Pharmacist"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/PharmacistProfileLayout.cshtml")
                }

                else if (User.IsInRole("Patient"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/PatientProfileLayout.cshtml")
                }

                else if (User.IsInRole("Accountant"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/AccountantProfileLayout.cshtml")
                }

                else if (User.IsInRole("Laboratorist"))
                {
                    @Html.Partial("/Areas/Admin/Views/PartialView/LaboratoristProfileLayout.cshtml")
                }

                else
                {

                }

                <!-- end navbar-top-links -->
                </div>
        </nav>
        <!-- end navbar top -->
        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="no-print">
                <!-- sidebar-collapse -->
                <div class="sidebar-collapse">
                    <!-- side-menu -->
                    <ul class="nav" id="side-menu">

                        <li>
                            <!-- user image section-->
                            @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/AdminProfileInfo.cshtml")
                            }
                            else if (User.IsInRole("Doctor"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/DoctorProfileInfo.cshtml")
                            }
                            else if (User.IsInRole("Nurse"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/NurseProfileInfo.cshtml")
                            }
                            else if (User.IsInRole("Pharmacist"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/PharmacistProfileInfo.cshtml")
                            }
                            else if (User.IsInRole("Patient"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/PatientProfileInfo.cshtml")
                            }
                            else if (User.IsInRole("Accountant"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/AccountantProfileInfo.cshtml")
                            }
                            else if (User.IsInRole("Laboratorist"))
                            {
                                @Html.Partial("/Areas/Admin/Views/PartialView/LaboratoristProfileInfo.cshtml")
                            }
                            else
                            {

                            }

                            <!--end user image section-->
                        </li>


                        @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                        {

                            @Html.Partial("~/Areas/Admin/Views/Shared/_AdminMenu.cshtml")
                        }
                        else if (User.IsInRole("Doctor"))
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_DoctorMenu.cshtml")
                        }
                        else if (User.IsInRole("Nurse"))
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_NurseMenu.cshtml")
                        }

                        else if (User.IsInRole("Patient"))
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_PatientMenu.cshtml")
                        }
                        else if (User.IsInRole("Accountant"))
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_AccountantMenu.cshtml")
                        }
                        else if (User.IsInRole("Laboratorist"))
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_LaboratoristMenu.cshtml")
                        }
                        else if (User.IsInRole("Pharmacist"))
                        {
                            @Html.Partial("~/Areas/Admin/Views/Shared/_PharmacistMenu.cshtml")
                        }
                        else
                        {

                        }


                    </ul>
                    <!-- end side-menu -->
                </div>
                <!-- end sidebar-collapse -->
                </div>
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->
        <div id="page-wrapper">


            @RenderBody()


        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="~/Content/FUTOMedical/assets/plugins/jquery-1.10.2.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/pace/pace.js"></script>
    <script src="~/Content/FUTOMedical/assets/scripts/siminta.js"></script>
    @RenderSection("Scripts", required: false)

    <script src="~/Content/tinymce/tinymce.min.js"></script>
    <script>
        //tinymce.init({
        //    selector: '#mytextarea'
        //});


        tinymce.init({
            selector: 'textarea',
            height: 400,
            theme: 'modern',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools codesample'
            ],
            toolbar1: 'insertfile undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
            image_advtab: true,
            templates: [
                { title: 'Test template 1', content: 'Test 1' },
                { title: 'Test template 2', content: 'Test 2' }
            ],
            content_css: [
                'css?family=Lato:300,300i,400,400i',
                'css/codepen.min.css'
            ]
        });
    </script>

    @RenderSection("Scripts2", required: false)
    <!-- Page-Level Plugin Scripts-->
    <script src="~/Content/FUTOMedical/assets/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/morris/morris.js"></script>
    <script src="~/Content/FUTOMedical/assets/scripts/dashboard-demo.js"></script>




</body>

</html>
