<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUTO Medical || @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    <!-- Core CSS - Include with every page -->

    <link href="~/Content/FUTOMedical/assets/plugins/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/plugins/pace/pace-theme-big-counter.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/FUTOMedical/assets/css/main-style.css" rel="stylesheet" />
    <link href="assets/css/main-style.css" rel="stylesheet" />

    <style>

        .body-Login-back {
            /*background-color: #84B899;*/
            background-image: url('../../Content/FUTOMedical/assets/img/aaaa.jpg');
            background-size:100%;
        }
    </style>

    @RenderSection("Style", required: false)

</head>

<body class="body-Login-back">


    @RenderBody()

    <!-- Core Scripts - Include with every page -->
    <script src="~/Content/FUTOMedical/assets/plugins/jquery-1.10.2.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/metisMenu/jquery.metisMenu.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
