<li class="selected">
    <a href="@Url.Action("Index","DashBoard",new { area = "Accountant"})"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
</li>

<li>
    <a href="#"><i class="fa fa-money fa-fw"></i> Invoice<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Create","Invoices",new { area = "Accountant"})"><i class="fa fa-money fa-fw"></i>Create Invoice</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Invoices",new { area = "Accountant"})"><i class="fa fa-money fa-fw"></i>View Medicines</a>
        </li>


    </ul>
    <!-- second-level-items -->


</li>

<li>
    <a href="@Url.Action("Patients","DashBoard",new { area = "Accountant"})"><i class="fa fa-user fa-fw"></i>Patient Invoice</a>
</li>

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Account Setting<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("MyProfile","UserManager",new { area = "Accountant"})"><i class="fa fa-user fa-fw"></i>Profile</a>
        </li>
        <li><a href="@Url.Action("ChangePassword", "Manage", new { area=""})"><i class="fa fa-key"></i> Change Password</a></li>
    </ul>
    <!-- second-level-items -->
</li>


