<li class="selected">
    <a href="@Url.Action("Index","DashBoard",new { area = "Laboratorist"})"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
</li>

<li>
    <a href="#"><i class="fa fa-hospital-o fa-fw"></i> Diagnosis<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("PatientDiagnosis","Diagnosis",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Add Diagnosis Report</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Diagnosis",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Diagnosis Report</a>
        </li>


    </ul>
    <!-- second-level-items -->
</li>

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Account Setting<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("MyProfile","UserManager",new { area = "Laboratorist"})"><i class="fa fa-user fa-fw"></i>Profile</a>
        </li>
        <li><a href="@Url.Action("ChangePassword", "Manage", new { area=""})"><i class="fa fa-key"></i> Change Password</a></li>
    </ul>
    <!-- second-level-items -->
</li>


