<li class="selected">
    <a href="@Url.Action("Index","UserManager",new { area = "Patients"})"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
</li>


<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Patient Management<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("NewPatient","UserManager",new { area = "Patients"})"><i class="fa fa-user fa-fw"></i>Add a Patient</a>
        </li>
        <li>
            <a href="@Url.Action("Patients","UserManager",new { area = "Admin"})"><i class="fa fa-user fa-fw"></i>Patients List</a>
        </li>
    </ul>
    <!-- second-level-items -->
</li>



<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Admission Management<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Admit","Admissions",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Patient Admissions</a>
        </li>


        <li>
            <a href="@Url.Action("Index","Admissions",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Admitted Patients</a>
        </li>

        <li>
            <a href="@Url.Action("Discharged","Admissions",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Discharged  Patients</a>
        </li>
    </ul>
    <!-- second-level-items -->
</li>



<li>
    <a href="@Url.Action("Index","BloodBanks",new { area = "Admin"})"><i class="fa fa-hospital-o fa-fw"></i>Blood Bank</a>
</li>

<li>
    <a href="#"><i class="fa fa-hospital-o fa-fw"></i> Medicine<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Index","MedicineCategories",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>View Categories</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Medicines",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>View Medicines</a>
        </li>


    </ul>
    <!-- second-level-items -->
</li>

<li>
    <a href="#"><i class="fa fa-info fa-fw"></i> Reports<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Birth","EventReport",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Birth Report</a>
        </li>


        <li>
            <a href="@Url.Action("Death","EventReport",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Death Report</a>
        </li>

        <li>
            <a href="@Url.Action("Operation","EventReport",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Operation Report</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Diagnosis",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>Test Report</a>
        </li>
    </ul>
    <!-- second-level-items -->
</li>

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Account Setting<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("MyProfile","UserManager",new { area = "Nurses"})"><i class="fa fa-user fa-fw"></i>Profile</a>
        </li>
        <li><a href="@Url.Action("ChangePassword", "Manage", new { area=""})"><i class="fa fa-key"></i> Change Password</a></li>
    </ul>
    <!-- second-level-items -->
</li>


