<li class="selected">
    <a href="@Url.Action("Index","Panel",new { area = "Patients"})"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
</li>

<li>
    <a href="@Url.Action("Doctors","Panel",new { area = "Patients"})"><i class="fa fa-user fa-fw"></i>View Doctors</a>
</li>

<li>
    <a href="@Url.Action("Prescription","Panel",new { area = "Patients"})"><i class="fa fa-hospital-o fa-fw"></i>Prescription</a>
</li>

<li>
    <a href="#"><i class="fa fa-info fa-fw"></i> Reports<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Birth","Panel",new { area = "Patients"})"><i class="fa fa-hospital-o fa-fw"></i>Birth Report</a>
        </li>


        <li>
            <a href="@Url.Action("Death","Panel",new { area = "Patients"})"><i class="fa fa-hospital-o fa-fw"></i>Death Report</a>
        </li>

        <li>
            <a href="@Url.Action("Operation","Panel",new { area = "Patients"})"><i class="fa fa-hospital-o fa-fw"></i>Operation Report</a>
        </li>
        <li>
            <a href="@Url.Action("Diagnosis","Panel",new { area = "Patients"})"><i class="fa fa-hospital-o fa-fw"></i>Test Report</a>
        </li>
    </ul>
    <!-- second-level-items -->
</li>

<li>
    <a href="@Url.Action("BloodBank","Panel",new { area = "Patients"})"><i class="fa fa-hospital-o fa-fw"></i>Blood Bank</a>
</li>

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Account Setting<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("MyProfile","UserManager",new { area = "Patients"})"><i class="fa fa-user fa-fw"></i>Profile</a>
        </li>
        <li><a href="@Url.Action("ChangePassword", "Manage", new { area=""})"><i class="fa fa-key"></i> Change Password</a></li>
    </ul>
    <!-- second-level-items -->
</li>