<li class="selected">
    <a href="@Url.Action("Index","UserManager",new { area = "Patients"})"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
</li>

<li>
    <a href="#"><i class="fa fa-hospital-o fa-fw"></i> Medicine<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("Index","MedicineCategories",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>View Categories</a>
        </li>
        <li>
            <a href="@Url.Action("Index","Medicines",new { area = "Panel"})"><i class="fa fa-hospital-o fa-fw"></i>View Medicines</a>
        </li>


    </ul>
    <!-- second-level-items -->
</li>

<li>
    <a href="#"><i class="fa fa-users fa-fw"></i> Account Setting<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li>
            <a href="@Url.Action("MyProfile","UserManager",new { area = "Pharmacists"})"><i class="fa fa-user fa-fw"></i>Profile</a>
        </li>
        <li><a href="@Url.Action("ChangePassword", "Manage", new { area=""})"><i class="fa fa-key"></i> Change Password</a></li>
    </ul>
    <!-- second-level-items -->
</li>


