@model IEnumerable<FUTOMedical.Models.Entities.BloodBank>

@{
    ViewBag.Title = "Blood Bank";
    Layout = "~/Views/Shared/_FutoLayout.cshtml";
}

<div class="row">
    <!--  page header -->
    <div class="col-lg-12">
        <h1 class="page-header">Blood Bank</h1>
    </div>
    <!-- end  page header -->
</div>
<div class="row">
    @*<div class="col-lg-1"></div>*@
    <div class="col-lg-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-fw fa-file-text-o"></i>
                Blood Bank Management
            </div>
            <div class="panel-body">
                <div class="btn-group pull-right">

                    <a class="btn btn-success" href="@Url.Action("Create", "BloodBanks", null)"> <i class='fa fa-plus fa-fw'></i> Create Blood Bank</a>
                </div>

            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="example1">
                        <thead>
                            <tr>
                                <th>S/No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Age)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DonorName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sex)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.BloodGroup)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.LastDonationDate)
                                </th>

                                <th>
                                    Status
                                </th>

                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int sno = 0;
                            }

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @{ sno++; }
                                    @sno
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Age)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DonorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BloodGroup)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastDonationDate)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>

                                <td>

                                    <div class="btn-group">

                                        <a class="btn btn-success" href="@Url.Action("Edit", "BloodBanks", new { id = item.Id }, null)"> <i class='fa fa-edit fa-fw'></i>Edit</a>
                                        <a class="btn btn-danger" href="@Url.Action("Delete", "BloodBanks", new { id = item.Id }, null)"> <i class='fa fa-minus fa-fw'></i>Delete</a>
                                    </div>

                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
    @*<div class="col-lg-1"></div>*@
</div>


@section Style {

    <link href="~/Content/FUTOMedical/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
}

@section Scripts {
    <!-- DataTables -->
    <script src="~/Content/FUTOMedical/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Content/FUTOMedical/assets/plugins/dataTables/dataTables.bootstrap.js"></script>

}

@section Scripts2 {
    <script>
        $(document).ready(function () {
            $('#example1').dataTable();
        });
    </script>

}
